/* Member information styles */
.member-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-right: 30px;
  height: 220px;
  width: 180px;
  background-color: #0f0e0d;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  padding-top: 30px;
  margin-bottom: 30px;
}

.member-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 25px;
  border: 3px solid #ffcd00;
}

.member-name {
  font-weight: 500;
  color: #ffcd00;
  text-align: center;
}

.member-card:hover {
  scale: calc(1.1);
  animation: scale 0.15s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.685);
  border: 1px solid transparent;
  border-color: #ffc629;
}

#documents,
#links {
  background-color: #0f0e0d;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 1px;
  border-radius: 15px;
}
h3 {
  color: #ffc629;
}
